NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
NEXT_PUBLIC_STORAGE_BASE_URL=http://localhost:9000/gift-market
# s3
NEXT_PUBLIC_STORAGE_BASE_URL=https://gift-market-storage.s3.ap-northeast-2.amazonaws.com
NEXT_PUBLIC_TOSS_CLIENT_KEY=your-toss-client-key
