# 로컬
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
# NEXT_PUBLIC_STORAGE_BASE_URL=http://localhost:9000/gift-market

# 배포시
# 배포시에는 NEXT_PUBLIC_API_BASE_URL 빈값으로
# NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_STORAGE_BASE_URL=https://gift-market-storage.s3.ap-northeast-2.amazonaws.com
# BACKEND_API_ORIGIN=https://gift-market-api.onrender.com

NEXT_PUBLIC_TOSS_CLIENT_KEY=your-toss-client-key